# Ignore everything
/*

# Allow needed folders
!/admin/
!/backend/
!/user/

# Ignore node_modules inside allowed folders
admin/node_modules/
backend/node_modules/
user/node_modules/

# Misc ignores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
