# Ignore everything by default
/*

# Allow admin folder
!/admin/

# Ignore node_modules, logs, and OS files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Ignore other project folders
/user/
/backend/
