.dashboard {
  padding: 30px;
  background: #f7f9fc;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard h1 {
  font-size: 28px;
  font-weight: 700;
}

.logout-btn {
  background: linear-gradient(135deg, #ff4b5c, #ff1e50);
  color: white;
  padding: 10px 22px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(255, 76, 92, 0.4);
}

.logout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(255, 76, 92, 0.5);
}

.logout-btn:active {
  transform: scale(0.97);
}


.admin-actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.admin-card {
  width: 250px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s ease;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.admin-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 3px 14px rgba(0,0,0,0.15);
}
